In [11]:
# Some style stuff for the plots

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy import stats
import matplotlib.style as mplstyle
%matplotlib inline
mplstyle.use('ggplot')

I need a set of distibutions 2 through 600, where each one represents a distribution of open rates such that at the first distribution (2) there can only be open rates of 0%, 50% and 100%. At the second (3) there can only be 0, 33.33%, 66.66% and 100% open rates and so on.

But let's start off simple. Let's simulate just the first distribution first. I need a binomial distribution with an average at .2 with three possible scenarios.

In [ ]:
n = 1
k = 2

x = np.arange(0, 50)  # For the x axis
dist = stats.binom.pmf(x, n, p)  # Probability mass function, aka the maths

plt.plot(x, dist, color='b')
plt.title('Theoretical probability density of the monkeys\' scores')
plt.ylabel('Frequency of results')
plt.xlabel('Questions answered correctly')

In [5]:
n, p = 3, 0.2
mean, var, skew, kurt = stats.binom.stats(n, p, moments='mvsk')

print(mean, var, skew, kurt)

0.6000000000000001 0.4800000000000001 0.8660254037844386 0.08333333333333293

In [8]:
foo = np.random.binomial(2, .2, 100)

foo

array([1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       2, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 2, 0, 0, 0, 1, 0, 1])

In [34]:
foo / 2

array([ 0.5,  0. ,  0.5,  0. ,  0.5,  0. ,  0. ,  0. ,  0.5,  0.5,  0. ,
        0. ,  0.5,  0. ,  0. ,  0. ,  0.5,  0. ,  0.5,  0.5,  0. ,  0. ,
        0.5,  0. ,  0. ,  0.5,  0. ,  0. ,  0.5,  0. ,  0. ,  0. ,  0.5,
        0. ,  0. ,  0. ,  0.5,  0.5,  0.5,  0. ,  0. ,  0.5,  0. ,  0. ,
        0.5,  0. ,  1. ,  0. ,  0. ,  0. ,  0.5,  0. ,  0. ,  0.5,  0. ,
        0.5,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0.5,  0.5,  0. ,  0.5,
        0. ,  0. ,  0. ,  0.5,  0. ,  0. ,  0. ,  0. ,  0.5,  0.5,  0. ,
        0. ,  0. ,  0. ,  0. ,  0. ,  0.5,  0. ,  0. ,  0.5,  0. ,  0.5,
        0.5,  0. ,  0. ,  0. ,  0. ,  1. ,  0. ,  0. ,  0. ,  0.5,  0. ,
        0.5])

In [71]:
def binomial_email_dists(N=100, p=0.2):
    """"""
    df = pd.DataFrame()
    
    for n in range(2,601):
        bar = np.random.binomial(n, p, N)
        df[f'n{n}'] = bar / n
        
    return df

bar = binomial_email_dists()

bar.head()

,n2,n3,n4,n5,n6,n7,n8,n9,n10,n11,...,n591,n592,n593,n594,n595,n596,n597,n598,n599,n600
0,0.5,0.000000,0.25,0.0,0.166667,0.285714,0.125,0.000000,0.5,0.181818,...,0.192893,0.189189,0.185497,0.227273,0.188235,0.203020,0.197655,0.185619,0.212020,0.210000
1,0.0,0.333333,0.50,0.4,0.000000,0.142857,0.375,0.222222,0.2,0.090909,...,0.201354,0.207770,0.204047,0.218855,0.196639,0.192953,0.170854,0.197324,0.195326,0.195000
2,1.0,0.000000,0.25,0.0,0.000000,0.142857,0.250,0.333333,0.5,0.272727,...,0.209814,0.197635,0.182125,0.210438,0.196639,0.229866,0.252931,0.195652,0.186978,0.210000
3,0.0,0.333333,0.25,0.4,0.333333,0.000000,0.125,0.111111,0.0,0.272727,...,0.225042,0.190878,0.214165,0.171717,0.179832,0.172819,0.211055,0.205686,0.205342,0.208333
4,0.5,0.333333,0.50,0.2,0.333333,0.142857,0.125,0.111111,0.0,0.272727,...,0.223350,0.189189,0.209106,0.225589,0.181513,0.214765,0.189280,0.217391,0.217028,0.170000

In [80]:
for name in bar.columns[::31]:
    print(name, bar[f'{name}'].mean())

n2 0.22
n33 0.202121212121
n64 0.20546875
n95 0.198842105263
n126 0.20626984127
n157 0.201592356688
n188 0.20329787234
n219 0.2000456621
n250 0.1974
n281 0.2
n312 0.199935897436
n343 0.201486880466
n374 0.198930481283
n405 0.202074074074
n436 0.199793577982
n467 0.199614561028
n498 0.20281124498
n529 0.201190926276
n560 0.199785714286
n591 0.197817258883

Ok so that's the kind of data frame I want. Kind of. This is too neat. There are exactly 100 instances at each level. The real data will not look like that. I'll need dummy data. How do I do that? Ok so each record will have a few key statistics

1. ID
1. Number of emails received
1. Number of emails opened

So I can say each person gets a number of emails. For example some random number between 2 and 600. The number of emails opened is an np.random.binom number based on the number of emails received.

Ok how do I generate the random number and the binomial open rate?

In [100]:
a = np.random.randint(0, 600)
b = np.random.binomial(a, .2)

print(a, b)

419 85